* {
    margin: 0;
}
body, html {
    padding: 0;
    margin: 0;
    background: #d6d4d4;
}

.heading-text {
    color: black;
    font-family: monospace;
    font-weight: bolder;
    font-size: 5rem;
}

.container-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
}

.text-area {
    height: 250px;
    width: 600px;
    border: 3px solid black;
    border-radius: 1rem;
    padding: 1rem;
}

.count {
    background: black;
    color: white;
    width: 400px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    font-size: 2rem;
    font-weight: bold;
    font-family: monospace;
    border-radius: .5rem;
    margin-top: 1rem;
}

.words , .chars {
    text-align: center;
}